@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Istok_Web;
  src: url(/font/Fira_Code/static/FiraCode-Regular.ttf);
  font-weight: 700;
  font-display: swap;
  subsets: latin;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #F7F9FF;
  color: #1F2D5C;
  font-family: Istok_Web;
}

.custom-shape-divider-top-1701873297 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1701873297 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1701873297 .shape-fill {
  fill: #C2E5FF;
}

.zoom-animation {
  transition: transform 0.3s ease-in-out;
  margin-right: 8px;
}

.zoom-animation:hover {
  transform: scale(1.2) rotate(0deg);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes zoom {
  0% {
    transform: scale(1) rotate(0deg);
  }

  60% {
    transform: scale(0.75) rotate(20deg);
  }

  100% {
    transform: scale(0.85) rotate(0deg);
  }
}